VITE_N8N_RECUPERACION_URL=http://localhost:5678/webhook-test/sweet-cost/recuperar-contrasena
VITE_N8N_RESTABLECER_URL=http://localhost:5678/webhook-test/sweet-cost/restablecer-contrasena
VITE_N8N_PROYECCION_URL=http://localhost:5678/webhook-test/sweet-cost/proyeccion
VITE_N8N_FACTURAS_IA_URL=http://localhost:5678/webhook-test/sweet-cost/facturas-ia
